<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><%=config.author%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/archive"><i class="fa fa-archive" aria-hidden="true" data-toggle="tooltip" title="archive of articles"></i> <span class="nav-text">Archive</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/links"><i class="fa fa-link" aria-hidden="true" data-toggle="tooltip" title="friend links"></i> <span class="nav-text">Links</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/about"><i class="fa fa-address-card" aria-hidden="true" data-toggle="tooltip" title="about me"></i> <span class="nav-text">About</span></a>
            </li>
            <% if(config.nav_links !== undefined && config.nav_links !== ''){
              try {
                let dropdowns = JSON.parse(config.nav_links);
                dropdowns.forEach((dropdown)=>{ %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%- dropdown.key %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if (dropdown.value) dropdown.value.forEach((link)=>{ %>
                            <a class="dropdown-item" href="<%- link.link %>" rel="noreferrer"><%- link.text %></a>
                        <% }) %>
                    </div>
                </li>
            <%})
            } catch (e) {console.error(e.message)}} %>
        </ul>
    </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>