<div class="nav">
    <div class="wrapper">
        <div class="container">
            <div class="logo"><a href="/"><%=config.author%></a></div>
            <div class="others">
                <a href="/archive">存档</a>
                <a href="/page/links">友链</a>
                <a href="/page/about">关于</a>
            </div>
        </div>
    </div>
</div>
