<div class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow-box" href="<%= prev ? "/pagination/"+prev : "."%>">Previous</a>
    <a class="pagination-next shadow-box" href="<%= next ? "/pagination/"+next : "."%>">Next Page</a>
</div>