<div class="panel">
    <div class="cell">Notice</div>
    <div class="cell">
        <%- notice %>
    </div>
    <div class="cell">
        <a href="https://github.com/songquanpeng/blog"><span class="icon">⭐</span> 在 Github 上收藏本系统</a>
    </div>
</div>