<%- include('./partials/header') %>
<div class="container">
    <div id="info-message" class="alert alert-success alert-dismissible fade show shadow-box">
        <strong><%= title %>:</strong><p><%= message %></p>
    </div>
</div>
<%- include('./partials/footer') %>
